@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
  box-sizing: border-box;

  --color-very-dark-magenta: hsl(300, 43%, 22%);
  --color-dark-grayish-magenta: hsl(303, 10%, 53%);
  --color-light-grayish-magenta: hsl(300, 24%, 96%);
  --color-white: hsl(0, 0%, 100%);
  --color-soft-pink: hsl(333, 80%, 67%);

  --font-Spartan: 'Spartan', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 15px;
  font-family: var(--font-Spartan);
}

h1,
h2,
h3,
h4,
h5,
p,
figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
