:root {
  box-sizing: border-box;

  --color-very-dark-magenta: hsl(300, 43%, 22%);
  --color-dark-grayish-magenta: hsl(303, 10%, 53%);
  --color-light-grayish-magenta: hsl(300, 24%, 96%);
  --color-white: hsl(0, 0%, 100%);
  --color-soft-pink: hsl(333, 80%, 67%);

  --font-Spartan: 'Spartan', sans-serif;
}

$breakpoints: (
  small: 375px,
  medium: 768px,
  large: 1024px,
  x-large: 1440px,
);
